# Ignore everything
*

# Git config stuff
!.gitignore
!.gitconfig

# Select what to include specifically
!.config/wezterm/
!.config/weztern/**
!.config/weztern/**/*
!.config/nvim/
!.config/nvim/**
!.config/nvim/**/*
!.config/lazygit/
!.config/lazygit/**
!.config/lazygit/**/*
!.config/zsh/
!.config/zsh/**
!.config/zsh/**/*
!.config/hammerspoon/
!.config/hammerspoon/**
!.config/hammerspoon/**/*

