[user]
	name = Niklas Kahn
	email = niklas@neatminds.se
[push]
	autoSetupRemote = true
[rebase]
	updateRefs = true
[alias]
	please = push --force-with-lease
	oops = commit --amend --no-edit
[rerere]
	enabled = true
[fetch]
	prune = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
[diff]
	; Set difftastic as default tool when calling "git difftool"
	tool = difftastic
	; Set difftastic as default for "git diff" as well
	external = difft --tab-width 2
[difftool]
	; Do not prompt before launching difftool
	prompt = false

[difftool "difftastic"]
	cmd = difft --tab-width 2 "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[pager]
	; Use a pager for large outputs, just like other git commands
	difftool = true
