config/zsh/.zsh_history
config/zsh/.zsh_plugins.zsh
config/zsh/.zlogin
config/zsh/.zlogout
config/zsh/.zpreztorc
config/zsh/.zprofile
config/zsh/.zshenv
config/zsh/.zshrc

config/.codex/log
config/.codex/sessions
config/.codex/auth.json
config/.codex/version.json
config/.codex/history.jsonl
